In [1]:
import pandas as pd

# user_action

* device  1,2 有一个 apple， 一个 android
* bool play > feed.long   ms，属于重播， 百分比情况
    * 播放完并且重播，大概率会评论，转发等 action

* 用户已收藏，关注不会再收藏关注

## overview

In [3]:
df_user_action = pd.read_csv('data/wechat_algo_data1/user_action.csv')

In [5]:
df_user_action

,userid,feedid,date_,device,read_comment,comment,like,play,stay,click_avatar,forward,follow,favorite
0,8,71474,1,1,0,0,1,500,5366,0,0,0,0
1,8,73916,1,1,0,0,0,250,1533,0,0,0,0
2,8,50282,1,1,0,0,0,750,1302,0,0,0,0
3,8,11391,1,1,0,0,1,3750,5191,0,0,0,0
4,8,27349,1,1,0,0,0,250,800,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
7317877,250236,72813,12,2,0,0,0,6369,6566,0,0,0,0
7317878,250236,52019,12,2,0,0,0,13212,13708,0,0,0,0
7317879,250236,51045,12,2,0,0,0,0,32215,0,0,0,0
7317880,250236,46881,12,2,0,0,0,0,5618,0,0,0,0
7317881,250236,53804,12,2,1,0,0,160560,161024,0,0,0,0

In [4]:
df_user_action.describe()

,userid,feedid,date_,device,read_comment,comment,like,play,stay,click_avatar,forward,follow,favorite
count,7.317882e+06,7.317882e+06,7.317882e+06,7.317882e+06,7.317882e+06,7.317882e+06,7.317882e+06,7.317882e+06,7.317882e+06,7.317882e+06,7.317882e+06,7.317882e+06,7.317882e+06
mean,1.249679e+05,5.669863e+04,7.801455e+00,1.765396e+00,3.501587e-02,4.046253e-04,2.580487e-02,2.631760e+04,3.101158e+04,7.533327e-03,3.821188e-03,7.211103e-04,1.342465e-03
std,7.239444e+04,3.278194e+04,4.063833e+00,4.237514e-01,1.838199e-01,2.011123e-02,1.585528e-01,6.477679e+04,1.013239e+05,8.646720e-02,6.169754e-02,2.684381e-02,3.661506e-02
min,8.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,6.133000e+04,2.814900e+04,4.000000e+00,2.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,2.017000e+03,5.189000e+03,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
50%,1.256370e+05,5.682500e+04,8.000000e+00,2.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.328900e+04,1.782900e+04,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
75%,1.878630e+05,8.522900e+04,1.100000e+01,2.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,3.600000e+04,4.133900e+04,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
max,2.502360e+05,1.128710e+05,1.400000e+01,2.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,3.855337e+07,8.262444e+07,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00

In [6]:
df_user_action.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7317882 entries, 0 to 7317881
Data columns (total 13 columns):
 #   Column        Dtype
---  ------        -----
 0   userid        int64
 1   feedid        int64
 2   date_         int64
 3   device        int64
 4   read_comment  int64
 5   comment       int64
 6   like          int64
 7   play          int64
 8   stay          int64
 9   click_avatar  int64
 10  forward       int64
 11  follow        int64
 12  favorite      int64
dtypes: int64(13)
memory usage: 725.8 MB

In [7]:
df_user_action.nunique()

userid           20000
feedid           96564
date_               14
device               2
read_comment         2
comment              2
like                 2
play            201721
stay            220343
click_avatar         2
forward              2
follow               2
favorite             2
dtype: int64

In [8]:
df_user_action.device.value_counts()

2    5601074
1    1716808
Name: device, dtype: int64

In [14]:
df_user_action.date_.value_counts().sort_index()

1     478489
2     461842
3     543566
4     504623
5     444828
6     472726
7     480460
8     500120
9     512466
10    596886
11    614175
12    532038
13    566627
14    609036
Name: date_, dtype: int64

In [38]:
(
    df_user_action
    .groupby(['userid','device']).agg(cnt=('device','count'))
    .reset_index()
    .groupby('userid').agg(cnt2=('device','count'))
    .query('cnt2 == 2')
)

        cnt2
userid
4674       2
5119       2
5279       2
5786       2
5907       2
...      ...
243101     2
243267     2
244321     2
244796     2
249759     2

[159 rows x 1 columns]

# feed_info

In [15]:
df_feed_info = pd.read_csv('data/wechat_algo_data1/feed_info.csv')

In [17]:
df_feed_info.head().T

,0,1,2,3,4
feedid,43549,77432,12921,34538,75414
authorid,6165,9386,2996,12577,7185
videoplayseconds,38,60,15,18,16
description,104741 122649 8109 117252 65632 23463 118668 4...,35753 27736 146603 73055 11794 101761 11794 81...,114413 107973 117252 27736 41035 32715 125374 ...,60473 9864 8109 135558 108803 89307 37630 6481...,105860 4691 134820 55911 80449 79213 23233 139...
ocr,139499 59421 82007 142955 27736 83577 52394 11...,35753 146603 73055 11794 101761 67496 16933 52...,NaN,39654 95201 22675 49521 135558 108803 89307 37...,73055 66447 88970
asr,142955 27736 83577 103956 32010 34170 89740 90...,146739 14368 79290 79213 47366 8109 33194 1198...,NaN,7446 47082 37630 99660 9844 113002 9844 113002...,104002 4438 104002 4438
bgm_song_id,19356.0,NaN,10288.0,24435.0,23428.0
bgm_singer_id,11703.0,NaN,11354.0,13645.0,10730.0
manual_keyword_list,15506;7715;17582,8199;18322;4243,NaN,5454;1197;3727,17083;4123
machine_keyword_list,26334;219;25209;7715;18541,24078;19924,11696;6926,NaN,8058;219;21639;15621;25209
manual_tag_list,81;269;159;6,194;267;159;6,202;23;160;6,328;13;159;6,81;269;159;6
machine_tag_list,269 0.8525666;81 0.8525666;8 1.1e-07;306 0.0;2...,267 0.99293476;194 0.99293476,23 0.64771646;202 0.64771646,267 0.21298289;191 0.21298289;8 0.34298885;306...,269 0.86163938;81 0.86163938
description_char,26439 5247 6426 3827 1882 26018 20744 22204 30...,31010 32495 6243 13923 15360 30483 2709 26084 ...,27077 10050 27464 20072 26018 6243 21492 14750...,21489 24672 2223 1882 4956 1545 10424 19791 12...,25782 19583 7768 3907 14068 12681 5043 17859 1...
ocr_char,25926 8491 13394 2203 26439 6243 33054 16435 1...,31010 32495 13923 15360 30483 2709 26084 15160...,NaN,9015 21209 5026 11192 4956 1545 10424 19791 12...,30483 23721 1518 22741 25118
asr_char,2203 26439 6243 33054 16435 16307 17070 24908 ...,7259 20851 5061 26207 17573 17531 15117 20072 ...,NaN,20825 13395 14765 24513 7305 12837 10337 8885 ...,23112 969 23112 969

In [21]:
df_feed_info

,feedid,authorid,videoplayseconds,description,ocr,asr,bgm_song_id,bgm_singer_id,manual_keyword_list,machine_keyword_list,manual_tag_list,machine_tag_list,description_char,ocr_char,asr_char
0,43549,6165,38,104741 122649 8109 117252 65632 23463 118668 4...,139499 59421 82007 142955 27736 83577 52394 11...,142955 27736 83577 103956 32010 34170 89740 90...,19356.0,11703.0,15506;7715;17582,26334;219;25209;7715;18541,81;269;159;6,269 0.8525666;81 0.8525666;8 1.1e-07;306 0.0;2...,26439 5247 6426 3827 1882 26018 20744 22204 30...,25926 8491 13394 2203 26439 6243 33054 16435 1...,2203 26439 6243 33054 16435 16307 17070 24908 ...
1,77432,9386,60,35753 27736 146603 73055 11794 101761 11794 81...,35753 146603 73055 11794 101761 67496 16933 52...,146739 14368 79290 79213 47366 8109 33194 1198...,NaN,NaN,8199;18322;4243,24078;19924,194;267;159;6,267 0.99293476;194 0.99293476,31010 32495 6243 13923 15360 30483 2709 26084 ...,31010 32495 13923 15360 30483 2709 26084 15160...,7259 20851 5061 26207 17573 17531 15117 20072 ...
2,12921,2996,15,114413 107973 117252 27736 41035 32715 125374 ...,NaN,NaN,10288.0,11354.0,NaN,11696;6926,202;23;160;6,23 0.64771646;202 0.64771646,27077 10050 27464 20072 26018 6243 21492 14750...,NaN,NaN
3,34538,12577,18,60473 9864 8109 135558 108803 89307 37630 6481...,39654 95201 22675 49521 135558 108803 89307 37...,7446 47082 37630 99660 9844 113002 9844 113002...,24435.0,13645.0,5454;1197;3727,NaN,328;13;159;6,267 0.21298289;191 0.21298289;8 0.34298885;306...,21489 24672 2223 1882 4956 1545 10424 19791 12...,9015 21209 5026 11192 4956 1545 10424 19791 12...,20825 13395 14765 24513 7305 12837 10337 8885 ...
4,75414,7185,16,105860 4691 134820 55911 80449 79213 23233 139...,73055 66447 88970,104002 4438 104002 4438,23428.0,10730.0,17083;4123,8058;219;21639;15621;25209,81;269;159;6,269 0.86163938;81 0.86163938,25782 19583 7768 3907 14068 12681 5043 17859 1...,30483 23721 1518 22741 25118,23112 969 23112 969
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
106439,104384,14898,10,25979 131295 125334 134878 22535 65613 117347 ...,NaN,NaN,3959.0,8338.0,10254;10844;1197,NaN,202;23;159;6,271 0.57400888;24 0.57400888,26191 32394 16025 32499 30031 20857 1119 21319...,NaN,NaN
106440,91514,5356,15,68075 6994 120580 8109 121844 26564 78844 3754...,NaN,NaN,12399.0,8017.0,NaN,NaN,9;6,14 0.68890297;61 0.68890297;8 4e-08;306 0.0;20...,24220 21477 20857 12599 30921 1882 26641 8481 ...,NaN,NaN
106441,69742,12148,23,49752 27736 100145 129797 287 118709 142518 49...,NaN,NaN,13961.0,14917.0,11411;18009;1312,NaN,179;262;159;6,262 0.81548262;179 0.81548262;8 0.16021954;306...,11278 6243 4947 26460 8311 66 26464 31605 1873...,NaN,NaN
106442,61540,14708,43,85868 110142 145820 22694 52168 130745 57878 8...,NaN,NaN,NaN,NaN,3212;17707;17582,NaN,96;269;159;6,269 0.53156692;82 0.53156692,8890 24513 32336 5043 25312 4196 17542 30940 1...,NaN,NaN
106443,89334,15775,32,146977 110142 93536 148792 8069 27736 146501 1...,NaN,NaN,NaN,NaN,NaN,NaN,202;23;160;6,271 0.80507952;28 0.80507952,2485 20072 24513 20833 30749 18876 1197 11679 ...,NaN,NaN

## feed embeddings

In [19]:
df_feed_embeddings = pd.read_csv('data/wechat_algo_data1/feed_embeddings.csv')

In [20]:
df_feed_embeddings

        feedid                                     feed_embedding
0        46022  -0.02032269 0.06095614 0.11057708 0.03385210 0...
1        73903  -0.07594238 0.01796364 -0.00135112 -0.00333468...
2        88646  -0.05067272 -0.08208735 -0.01929738 -0.0150182...
3        24381  -0.06976026 0.00218324 0.04416835 0.06146711 -...
4        41542  -0.04981736 -0.03523079 0.03022859 0.06672543 ...
...        ...                                                ...
106439   14792  -0.00801850 0.03034283 0.09088695 -0.01049765 ...
106440   42659  -0.02209187 -0.05218977 0.04746873 -0.07294663...
106441   66410  -0.00619426 0.00436533 0.02677129 -0.02013679 ...
106442    7919  -0.05661627 -0.13232523 -0.03405083 0.02689592...
106443   30814  -0.03162132 0.01220179 -0.03419615 0.04179954 ...

[106444 rows x 2 columns]

# test_a

In [22]:
df_test_a = pd.read_csv('data/wechat_algo_data1/test_a.csv')

In [23]:
df_test_a

        userid  feedid  device
0        14298   67227       1
1        68356   91864       2
2        49925  104657       2
3        60529   23738       2
4       131482   69038       1
...        ...     ...     ...
421980  133812   56450       2
421981  231669   76501       1
421982  179168   70550       2
421983   92546   49432       2
421984  205434    2109       1

[421985 rows x 3 columns]

In [24]:
df_test_a.groupby('userid').agg(cnt=('feedid','count'))

        cnt
userid
25        5
71       32
76       36
108      85
130       9
...     ...
250129   46
250144   29
250160    2
250168   15
250224    7

[9757 rows x 1 columns]

# 部分人有连个个device

In [40]:
(
    df_test_a
    .groupby(['userid','device']).agg(cnt=('feedid','count'))
    .reset_index()
    .groupby('userid').agg(cnt2=('device','count'))
    .query('cnt2 == 2')
)

        cnt2
userid
22766      2
58663      2
126421     2
137131     2
210617     2
244102     2

# user_train vs user_test

In [43]:
test_user_ls = df_test_a.userid.unique()
len(test_user_ls)

9757

In [44]:
train_user_ls = df_user_action.userid.unique()
len(train_user_ls)

20000

In [45]:
set(test_user_ls) - set(train_user_ls)

set()

In [47]:
len(set(train_user_ls) - set(test_user_ls))

10243